@use "../foundation" as f;

footer {
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  box-sizing: border-box;
  min-height: 13rem;
  padding: 3.75rem 0 2.25rem;
  position: relative;
  width: 100%;
}

.footer {
  &__contents {
    width: 100%;
  }

  &__heading {
    font-size: 8vw;
  }
}
