@use "sass:math";
@use "../foundation" as f;

.leadspace-hero {
  background-image: url("../images/hero-img_1.jpg");
  background-position: bottom left 12%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 6.25rem -1.5rem;
  position: relative;
  height: 100vh;
  width: 100vw;

  @include f.respond-to("tablet") {
    background-position: top left;
    height: math.div(100vw, f.$home-hero-ar);
  }

  @include f.respond-to("desktop") {
    margin: 0 0 0 -2.25rem;
  }

  &__heading {
    font-size: 24vw;
    letter-spacing: -0.05em;
    line-height: 0.888;
    padding-top: 5.875rem;
    // padding-top: 10vw;
    text-align: center;

    @include f.respond-to("tablet") {
      font-size: 11vw;
      padding-top: 1.5625rem;
    }
  }

  &__heading-wrap {
    display: block;
    font-weight: 300;

    @include f.respond-to("tablet") {
      display: inline;
      // font-weight: 300;
    }
  }
}

// .heading {
//   &--leadspace-hero {
//     font-size: 24vw;
//     letter-spacing: -0.05em;
//     line-height: 0.888;
//     padding-top: 5.875rem;
//     // padding-top: 10vw;
//     text-align: center;

//     @include f.respond-to("tablet") {
//       font-size: 11vw;
//       padding-top: 1.5625rem;
//     }
//   }

//   &--hero-wrap {
//     display: block;
//     font-weight: 300;

//     @include f.respond-to("tablet") {
//       display: inline;
//       // font-weight: 300;
//     }
//   }
// }
