@use "sass:math";
@use "../foundation" as f;

#main-nav {
  height: 100vh;
  left: -80vw;
  position: fixed;
  transition: left 0.5s ease-in-out;
  width: 80vw;
  z-index: 1000;

  @include f.respond-to("mobile") {
    left: -87.5vw;
    width: 87.5vw;
  }

  @include f.respond-to("tablet") {
    left: -42rem;
    width: 42rem;
  }

  @include f.respond-to("desktop") {
    left: -45rem;
    width: 45rem;
  }

  &.nav-open {
    left: 0;

    @include f.respond-to("mobile") {
      left: 0;
    }

    @include f.respond-to("tablet") {
      left: 0;
    }

    @include f.respond-to("desktop") {
      left: 0;
    }
  }
}

.paw-tab {
  align-items: center;
  border-radius: 1.5rem;
  display: flex;
  flex-flow: row nowrap;
  height: 4.375rem;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  top: 1.5rem;
  width: calc(80vw + 2.5rem);

  @include f.respond-to("mobile") {
    width: calc(87.5vw + 2.5rem);
  }

  @include f.respond-to("tablet") {
    width: 42rem + 2.5rem;
  }

  @include f.respond-to("desktop") {
    width: 45rem + 2.5rem;
  }
}

.paw-button {
  display: inline-block;
  padding: 0 0.9375rem 0 0;
}

// .paw-logomark {
//   display: inline-block;
// }

nav {
  position: relative;
  padding: 3.75rem 0 0 1.5rem;
  width: 90%;

  ul {
    font-size: 13vw;
    letter-spacing: -0.02rem;
    line-height: 1.19;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      color: map-get(f.$colors, "black");
      text-decoration: none;
    }

    @include f.respond-to("mobile") {
      font-size: 3.125rem;
    }

    @include f.respond-to("tablet") {
      font-size: 5rem;
      line-height: 1.25;
    }
  }

  @include f.respond-to("tablet") {
    padding-left: 3.75rem;
  }
}
