// use rules
@use "mixins" as m;
@use "variables" as var;

// elements
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 600;
}

%body {
  @include m.chivo;
  font-size: 1rem;
  line-height: 1.19;
  letter-spacing: -0.02em;
}

%body-italic {
  @extend %body;
  font-style: italic;
}

// classes
.chivo {
  @include m.chivo;
}

.asul {
  @include m.asul;
}

.body {
  @extend %body;
}

.font-weight {
  &--light {
    font: {
      weight: 300;
    }
  }

  &--regular {
    font: {
      weight: 400;
    }
  }

  &--bold {
    font: {
      weight: 600;
    }
  }
}

// @import url('https://fonts.googleapis.com/css2?family=Asul&family=Chivo:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');
