// breakpoints
$bpts: (
  "xxs": 0,
  "mobile": 375px,
  "tablet": 768px,
  "desktop": 1440px,
);

// colors
$colors: (
  "orange": #ba692e,
  "forest": #085841,
  "background-gray": #f5f5f5,
  "black": #000000,
  "gray-1": #383838,
  "gray-2": #4d4d4d,
  "gray-3": #6c6a6e,
  "gray-4": rgba(126, 126, 126, 1),
  "gray-5": #efefef,
  "gray-6": #f3f3f3,
  "white": #ffffff,
);

$xxxxl: 4000px;
