@use "foundation" as f;
@use "components" as c;

body {
  background-color: map-get(f.$colors, "background-gray");
  box-sizing: border-box;
  font: {
    size: 1rem;
  }
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

section {
  position: relative;
  width: 100%;
}
