@use "foundation" as f;
@use "components" as c;

body {
  background-color: map-get(f.$colors, "taupe");
  box-sizing: border-box;
  font: {
    size: 1rem;
  }
  margin: 0;
  padding: 0;
}

#page-id {
  &--stay {
    .nav-item--stay {
      font: {
        family: "Asul", sans-serif;
        weight: 400;
      }
    }
  }
}

img {
  border: 0;
}

section {
  position: relative;
  width: 100%;
}

#main {
  padding: 0 1.5em;

  @include f.respond-to("desktop") {
    padding: 0 2.25rem;
  }
}
